<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125206673389-t7rj9ikunii10hnmgk0iomi851p8jo1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125206673389-t7rj9ikunii10hnmgk0iomi851p8jo1t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125206673389-4shmd7j5jn5il620j2bmef66d635cc2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9altPB5rfRnA1A0jpd9IwyslRQ_ZkM94</string>
	<key>GCM_SENDER_ID</key>
	<string>125206673389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.spotu.yoonjechoi.todos</string>
	<key>PROJECT_ID</key>
	<string>yoonjechoi-firebase-1</string>
	<key>STORAGE_BUCKET</key>
	<string>yoonjechoi-firebase-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125206673389:ios:812a664c4925f86712d9e4</string>
	<key>DATABASE_URL</key>
	<string>https://yoonjechoi-firebase-1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>